<!DOCTYPE html>
<html lang="en">
<head>
<title>Update Television Show Entry</title>
</head>
<body>
<form action="#" method="post" >
    <p>Update Form:</p>
<table>
<tbody>
<tr>
    <td>Record to Update:</td>
    <td><input type="text" name="to_update" /></td>
</tr>
<tr></tr>
<tr>
    <td>Update Information:</td>
</tr>
<tr>
    <td>TV Show:</td>
    <td><input type="text" name="name" /></td>
</tr>
<tr>
    <td>No of Seasons:</td>
    <td><input type="text" name="seasons" /></td>
</tr>
<tr>
    <td>Duration:</td>
    <td><input type="text" name="duration" /></td>
</tr>
</tbody>
</table>
<p><input type="submit" value="submit"/></p>
</form>
</body>
</html>
